* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(247, 244, 244);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.task-form input.error,
.task-form select.error,
.task-form textarea.error {
    border: 1px solid rgb(233, 66, 66);
}